<include file="Public:header" />
<link href="__PUBLIC__/Home1/css/movesay.css" >
<link rel="stylesheet" href="__PUBLIC__/Home1/css/movesay.css" />                   
<div class="wrapper">
	<div class="register" style="border-radius: 15px; margin-bottom: 20px;">
		<table>
			<tbody>
				<tr>
					<th align="right">{:L('user_name')}：</th>
					<td><div class="formbody" style="width: 250px;">
							<i class="icon_username"></i>
							<input type="text" class="username" id="username" name="username" placeholder="{:L('enter_user_name')}">
						</div></td>
				</tr>
				<tr>
					<th align="right">{:L('secure_email')}：</th>
					<td><div class="formbody" style="width: 250px;">
							<i class="icon_phone"></i>
							<input type="text" class="username" id="moble" name="moble" placeholder="{:L('enter_binding_email')}">
						</div></td>
				</tr>
				<tr>
					<th align="right">{:L('captcha')}：</th>
					<td><div class="formbody">
							<i class="icon_code"></i>
							<input type="text" class="code" id="verify" name="code" placeholder="{:L('enter_captcha')}" style="width: 100px;"><img id="codeImg" src="{:U('Verify/code')}" width="145" height="42" onclick="this.src=this.src+'?t='+Math.random()" style="float: left; cursor: pointer;" title="换一张">
						</div></td>
				</tr>
				<tr>
					<th align="right">{:L('Email_Verification_Code')}：</th>
					<td><div class="formbody">
							<i class="icon_code"></i>
							<input type="text" class="code" id="moble_verify" name="code" placeholder="{:L('enter_sms_code')}" style="width: 100px;"><input id="regBtn" type="button" class="getyzm" value="{:L('get_sms_code')}" onclick="SendCode()" style="width: 145px; height: 42px;">
						</div></td>
				</tr>
				<tr>
					<th align="right">{:L('new_login_password')}：</th>
					<td><div class="formbody" style="width: 250px;">
							<i class="icon_password"></i>
							<input type="password" class="password" id="password" name="password" placeholder="{:L('login_password_format')}">
						</div></td>
				</tr>
				<tr>
					<th align="right">{:L('confirm_login_password')}：</th>
					<td><div class="formbody" style="width: 250px;">
							<i class="icon_password"></i>
							<input type="password" class="password" id="repassword" name="password" placeholder="{:L('enter_confirm_login_password')}">
						</div></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><div class="formbody">
							<input type="button" class="movesay_btn" name="index_submit" id="Submin" onclick="Update();" value="{:L('find_login_password')}" title="{:L('find_login_password')}" style="width: 320px;">
						</div></td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="autobox" style="margin-bottom: 30px">
		<ul class="safety_tips_ul clear">
			<li>
				<div class="safety_img safety_img_1"></div>
				<h4>{:L('reliable_system')}</h4>
				<p>{:L('reliable_system_desc')}</p>
			</li>
			<li>
				<div class="safety_img safety_img_2"></div>
				<h4>{:L('capital_security')}</h4>
				<p>{:L('capital_security_desc')}</p>
			</li>
			<li>
				<div class="safety_img safety_img_3"></div>
				<h4>{:L('quick_and_easy')}</h4>
				<p>{:L('quick_and_easy_desc')}</p>
			</li>
			<li>
				<div class="safety_img safety_img_4"></div>
				<h4>{:L('service_sector')}</h4>
				<p>{:L('service_sector_desc')}</p>
			</li>
		</ul>
	</div>
</div>
<script>
	function SendCode(){
		var username=$("#username").val();
		var moble=$("#moble").val();
		var verify=$("#verify").val();
		if(username==""||username==null){
			layer.tips('{:L('enter_user_name')}','#username',{tips:3});
			return false;
		}
		if(moble==""||moble==null){
			layer.tips('{:L('enter_binding_phone')}','#moble',{tips:3});
			return false;
		}
		if(verify==""||verify==null){
			layer.tips('{:L('enter_captcha')}','#verify',{tips:3});
			return false;
		}


		$.post("{:U('Verify/findpwdbyemail')}",{username:username,moble:moble,verify:verify},function(data){
			if(data.status==1){
				$('#regBtn').attr("disabled","disabled");
				layer.msg(data.info,{icon:1});
				var obj=$('#regBtn');
				var wait=120;
				var interval=setInterval(function(){
					obj.css('backgroundColor','#999B9C');
					obj.val('（'+wait+'）{:L('second_to_send_again')}');
					wait--;
					if(wait<0){
						clearInterval(interval);
						obj.val('{:L('get_sms_code')}');
						obj.css('backgroundColor','#0096e0');
					}
					;
				},1000);
			}else{
				layer.msg(data.info,{icon:2});
			}
		},"json");
	}
	function Update(){
		var username=$("#username").val();
		var moble=$("#moble").val();
		var moble_verify=$("#moble_verify").val();
		var verify=$("#verify").val();
		var password=$("#password").val();
		var repassword=$("#repassword").val();
		if(username==""||username==null){
			layer.tips('{:L('enter_user_name')}','#username',{tips:3});
			return false;
		}
		if(moble==""||moble==null){
			layer.tips('{:L('enter_binding_phone')}','#moble',{tips:3});
			return false;
		}
		if(moble_verify==""||moble_verify==null){
			layer.tips('{:L('enter_sms_code_1')}','#moble_verify',{tips:3});
			return false;
		}
		if(verify==""||verify==null){
			layer.tips('{:L('enter_captcha')}','#verify',{tips:3});
			return false;
		}
		if(password==""||password==null){
			layer.tips('{:L('enter_new_login_password')}','#password',{tips:3});
			return false;
		}
		if(repassword==""||repassword==null){
			layer.tips('{:L('enter_confirm_login_password')}','#repassword',{tips:3});
			return false;
		}
		if(password!=repassword){
			layer.tips('{:L('confirm_login_password')}','#repassword',{tips:3});
			return false;
		}
		$.post("{:U('Login/findpwdbyemail')}",{username:username,moble:moble,moble_verify:moble_verify,verify:verify,password:password,repassword:repassword},function(data){
			if(data.status==1){
				layer.msg(data.info,{icon:1});
				window.setTimeout("window.location='{:U('Login/index')}'",1000);
			}else{
				layer.msg(data.info,{icon:2});
			}
		},"json");
	}
</script>
<script>
	//顶部菜单高亮
	$('#menu_top_index').addClass('current');
</script>
<include file="Public:footer" />