	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/01/2018 06:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot")/*tpa=http://cryptonic-html.sweet-theme.com/fonts/Flaticon.eot*/;
  src: url("../fonts/Flaticon.eot-#iefix")/*tpa=http://cryptonic-html.sweet-theme.com/fonts/Flaticon.eot?#iefix*/ format("embedded-opentype"),
       url("../fonts/Flaticon.woff")/*tpa=http://cryptonic-html.sweet-theme.com/fonts/Flaticon.woff*/ format("woff"),
       url("../fonts/Flaticon.ttf")/*tpa=http://cryptonic-html.sweet-theme.com/fonts/Flaticon.ttf*/ format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon")/*tpa=http://cryptonic-html.sweet-theme.com/fonts/Flaticon.svg#Flaticon*/ format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon")/*tpa=http://cryptonic-html.sweet-theme.com/fonts/Flaticon.svg#Flaticon*/ format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-big-and-small-dots:before { content: "\f100"; }
.flaticon-menu-1:before { content: "\f101"; }
.flaticon-menu-options:before { content: "\f102"; }
.flaticon-menu:before { content: "\f103"; }
.flaticon-menu-button-of-three-horizontal-lines:before { content: "\f104"; }
.flaticon-arrows:before { content: "\f105"; }
.flaticon-exclamation:before { content: "\f106"; }
.flaticon-security:before { content: "\f107"; }
.flaticon-padlock:before { content: "\f108"; }
.flaticon-smartphone:before { content: "\f109"; }
.flaticon-flask:before { content: "\f10a"; }
.flaticon-care:before { content: "\f10b"; }
.flaticon-artificial-intelligence:before { content: "\f10c"; }
.flaticon-download:before { content: "\f10d"; }
.flaticon-great-britain-pound:before { content: "\f10e"; }
.flaticon-euro-currency-symbol:before { content: "\f10f"; }
.flaticon-rupee-indian:before { content: "\f110"; }
.flaticon-reply:before { content: "\f111"; }
.flaticon-arrow-point-to-right:before { content: "\f112"; }
.flaticon-folder:before { content: "\f113"; }
.flaticon-speech-bubble:before { content: "\f114"; }
.flaticon-eye:before { content: "\f115"; }
.flaticon-share:before { content: "\f116"; }
.flaticon-placeholder-for-map:before { content: "\f117"; }
.flaticon-dollar-symbol:before { content: "\f118"; }
.flaticon-lock:before { content: "\f119"; }
.flaticon-apple:before { content: "\f11a"; }
.flaticon-google-play-sketched-logo:before { content: "\f11b"; }
.flaticon-lock-black-padlock-interface-symbol:before { content: "\f11c"; }
.flaticon-vintage-key-outline:before { content: "\f11d"; }
.flaticon-bag:before { content: "\f11e"; }
.flaticon-mall-wifi-sign:before { content: "\f11f"; }
.flaticon-contact:before { content: "\f120"; }
.flaticon-telephone:before { content: "\f121"; }
.flaticon-place-localizer:before { content: "\f122"; }
.flaticon-pencil-edit-button:before { content: "\f123"; }
.flaticon-telephone-handle-silhouette:before { content: "\f124"; }
.flaticon-mail:before { content: "\f125"; }
.flaticon-user-silhouette:before { content: "\f126"; }
.flaticon-facebook-letter-logo:before { content: "\f127"; }
.flaticon-twitter-logo-silhouette:before { content: "\f128"; }
.flaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f129"; }
.flaticon-business-1:before { content: "\f12a"; }
.flaticon-technology-1:before { content: "\f12b"; }
.flaticon-wallet:before { content: "\f12c"; }
.flaticon-cloud-computing:before { content: "\f12d"; }
.flaticon-hourglass:before { content: "\f12e"; }
.flaticon-business:before { content: "\f12f"; }
.flaticon-shapes:before { content: "\f130"; }
.flaticon-technology:before { content: "\f131"; }
.flaticon-coins:before { content: "\f132"; }
.flaticon-brainstorm:before { content: "\f133"; }
.flaticon-love:before { content: "\f134"; }
.flaticon-signal:before { content: "\f135"; }
.flaticon-magnifier-tool:before { content: "\f136"; }
.flaticon-bitcoin-logo:before { content: "\f137"; }