.login-content{
	position: relative;
	margin:auto;
	background: #f6f6f6;
	width: 100%;
	min-height: 100%;
   background: url(../images/banner1.jpg);
   background-size:cover;
}
.login-content2{ }
.form {
    width: 370px;
    height: 410px;
    margin:130px auto;
    /*position: relative;
    top: 50%;
    left: 50%;
    margin-top: -205px;
    margin-left: -185px;*/
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(197, 202, 223, 0.2);
    box-shadow: 0 5px 20px rgba(197, 202, 223, 0.2);
}

.form .title {
    height: 65px;
    line-height: 90px;
    color: #1F212A;
    font-size: 24px;
    text-align: center;
}

.form .input .username-box {
    position: relative;
    clear: both;
    width: 305px;
    /*border: 1px solid #ccc;*/
    border-radius: 2px;
    margin: 40px 0 0 30px;
}

.form .input .input-box {
    position: relative;
    border: 1px solid #ddd;
    color: #999;
    padding: 0 0 0 36px;
    height: 38px;
    overflow: hidden;
    border-radius: 2px;
}

.form .input .input-box input {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 36px;
    /*padding: 0 32px 0 36px;*/
    border: 0;
    font-size: 14px;
    /*margin-left: -36px;*/
    color: #1F212A;
}

.form .input .input-box input::-webkit-input-placeholder {
    color: #ccc;
}

.form .input .input-box input:-moz-placeholder {
    color: #ccc;
}

.form .input .input-box input::-moz-placeholder {
    color: #ccc;
}

.form .input .input-box input:-ms-input-placeholder {
    color: #ccc;
}

.form .input .input-box .username-icon {
    background: url(../images/sprite.png) 3px 7px no-repeat;
}

.form .input .input-box .fa {
    width: 36px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 6px;
    font-size: 26px;
    color: #cccccc;
}
.form .input .input-box .icon{
	width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 6px;
}
.form .input .password-box {
    position: relative;
    clear: both;
    width: 305px;
    /*border: 1px solid #ccc;*/
    border-radius: 2px;
    margin: 25px 0 0 30px;
}

.form .input .input-box .password-icon {
    background: url(../images/password.png) 3px 7px no-repeat;
}

.form .input .invite-box {
    position: relative;
    clear: both;
    width: 305px;
    /*border: 1px solid #ccc;*/
    border-radius: 2px;
    margin: 25px 0 0 30px;
}

.form .input .input-box .invite-icon {
    background: url(../images/invite.png) 3px 7px no-repeat;
}

.form .input .tel-box {
    position: relative;
    clear: both;
    width: 305px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin: 40px 0 0 30px;
}

.form .input .input-box .tel-icon {
    background: url(../images/tel.png) 3px 7px no-repeat;
}

.form .input .input-box .email-icon {
    background: url(../images/email-icon.png) 0 0 no-repeat;
}

.form .input .msg-field {
    position: relative;
    clear: both;
    width: 305px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin: 25px 0 0 30px;
}

.form .input .input-wrapper .verify-icon {
    background: url(../images/verify.png) 3px 7px no-repeat;
}

.form .input .input-wrapper .icon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -30px;
}

.form .msg-field .input-wrapper {
    width: 142px;
}

.form .msg-field .input-wrapper {
    position: relative;
    float: left;
    height: 100%;
}

.form .msg-field .send-msg {
    float: left;
    width: 124px;
    height: 100%;
    line-height: 36px;
    text-align: center;
    background: #fff;
    border-left: 1px solid #ccc;
    font-size: 14px;
    margin: 0 -1px 0 0;
    text-decoration: none;
    cursor: pointer;
    color: #ccc;
}

.form .input .button {
    width: 305px;
    height: 35px;
    background: #5877FF;
    border-radius: 2px;
    border: 1px solid #5877FF;
    margin: 2px 0 0 30px;
    color: #fff;
    font-size: 18px;
}

.form .input .login-help {
    height: 30px;
    line-height: 25px;
    margin: 30px 30px 0 30px;
    float: right;
}

.form .input .free-reg {
    height: 35px;
    line-height: 42px;
    text-align: center;
}

.register {
    /* height: 480px; */
    height: 535px;
}

.form .input .protocol {
    height: 25px;
    line-height: 25px;
    margin: 28px 0 0 30px;
    float: left;
}

.form .input .protocol a {
    margin-left: 5px;
    color: #595757;
}

.form .register_title {
    height: 65px;
    line-height: 63px;
    color: #67696C;
    font-size: 16px;
    text-align: center;
}

.form .tel {
    float: left;
    cursor: pointer;
    /*margin: 0 58px;*/
    width: 182px;
}

.form .tel:hover span{
    border-bottom: 2px solid #5877FF;
    color: #5877FF;
    padding-bottom: 15px;
}

/*.form .active span{
    border-bottom: 2px solid #5877FF;
    color: #5877FF;
    font-weight: 900;
    padding-bottom: 15px;
}*/

.form .email {
    float: left;
    cursor: pointer;
    /*margin: 0 58px;*/
    /*width: 182px;*/
    width: 100%;
    font-size: 24px;
}

/*.form .email:hover span{
    border-bottom: 2px solid #5877FF;
    color: #5877FF;
    padding-bottom: 15px;
}*/

.form .register_line {
    float: left;
    color: #ccc;
}

.form .register_title > div {
    /*margin: 0 39px;*/
}
.free-reg a{
	color: #595757;
}