

				     
				    <div class="left-nav-bar" id="left-nav-bar"> 
				     <div class="left-nav-slider"> 

				      <dl class="nav-tab-list"> 
				       <dt> 
				        <a href="{:U('Finance/index')}"><i class="fa fa-support mr10"></i>{:L('finance_center')}</a> 
				       </dt> 
				      </dl> 
				      <div  class="sidebar">
						  <ul class="sidebar-menu">
						    <li class="treeview">
							    <a href="#">
							      <i class="fa fa-dashboard"></i> <span>{:L('finance_wealth_center')}</span> <i class="fa fa-angle-right pull-right"></i>
							    </a>
							    <ul class="treeview-menu">
							       <li><a href="{:U('Finance/index')}"><i class="fa fa-circle-o"></i>{:L('finance_wealth_center')}</a></li>
							      <li><a href="{:U('Finance/myzr')}"><i class="fa fa-circle-o"></i> {:L('finance_i_want_to_receive')}</a></li>
							      <li><a href="{:U('Finance/myzc')}"><i class="fa fa-circle-o"></i> {:L('finance_i_want_to_send_it')}</a></li>
							    </ul>
						    </li>
						    <li class="treeview">
							    <a href="#">
							      <i class="fa fa-pie-chart"></i>
							      <span>{:L('finance_wealth_bill')}</span>
							      <i class="fa fa-angle-right pull-right"></i>
							    </a>
							    <ul class="treeview-menu">
							      <li><a href="{:U('Finance/mywt')}"><i class="fa fa-circle-o"></i>  {:L('finance_entrustment_management')}</a></li>
							      <li><a href="{:U('Finance/mycj')}"><i class="fa fa-circle-o"></i> {:L('finance_deal_query')}</a></li>
							    </ul>
						    </li>
						    <li class="treeview">
							    <a href="#">
							      <i class="fa fa-laptop"></i>
							      <span>{:L('finance_i_want_to_share')}</span>
							      <i class="fa fa-angle-right pull-right"></i>
							    </a>
							    <ul class="treeview-menu">
							      <li><a href="{:U('Finance/mytj')}"><i class="fa fa-circle-o"></i> {:L('finance_share')}</a></li>
							      <li><a href="{:U('Finance/mywd')}"><i class="fa fa-circle-o"></i> {:L('finance_my_share')}</a></li>
							    </ul>
						    </li>				    
						  </ul>
					  </div>  
				     </div> 
				    </div> 			   