<include file="Public:header" />
		
		<section class="box-content">
			
			    <style>
			            
			    </style>
			    <div class="main-content clearfix">
				    <div class="now"> 
					    <i class="fa fa-home fa-lg move mr5"></i>
						<a href="/" class="movesay">{:L('home')}</a> &gt; 
					    <a href="{:U('Finance/index')}" class="movesay">{:L('finance_center')}</a> &gt; {:L('finance_deal_query')} 
				    </div>
				     
					<include file="Finance:header_left" />
				    <div class="tag-list-content assets_content bg_w"> 
				     <div class="safe_center clear"> 
				      	<h1> <span> {:L('finance_deal_query')} </span> <span> <a class="right" onclick="$('#hints').slideToggle();"> <i class="fa fa-hand-o-right move fz_14 mr5"></i> <span class="fz_12 move">帮助</span> </a> </span> </h1> 
				     </div> 
				     
				     <div class="mytable-body"> 
					        
					       <div class="cnyin_record" > 
						      <div class="f_body"> 
						       <div class="f_body_main"> 
						        <div class="f_tab_body"> 
						         <div> 
						          <table class="f_table" id="investLog_content"> 
						           <thead> 
						            <tr> 
						             <th>
											<select name="market-selectTest" id="market-selectTest">
													<volist name="market_list" id="vo">
														<eq name="market" value="$key">
															<option value="{$vo['name']}" selected="selected">{$coin_list[$vo['xnb']]['title']}({$vo['xnb']|strtoupper}/{$vo['rmb']|strtoupper})</option>
															<else />
															<option value="{$vo['name']}">{$coin_list[$vo['xnb']]['title']}({$vo['xnb']|strtoupper}/{$vo['rmb']|strtoupper})</option>
														</eq>
													</volist>
												</select>
						             <!-- <select name="market-selectTest" id="market-selectTest">
									  <option value="btc_cny" selected="selected">比特幣(BTC/CNY)</option>
									  <option value="wkb_cny">玩客幣(鏈克)(WKB/CNY)</option>
									  <option value="llt_cny">流量幣(LLT/CNY)</option>
									  <option value="wc_cny">玩家幣(WC/CNY)</option>
									  <option value="sdc_cny">星域幣(SDC/CNY)</option>
									  <option value="yz_cny">360云钻合约(YZ/CNY)</option></select>  -->
						             </th>
						             <th>{:L('finance_deal_time')}</th> 
						             <th>
										 <!-- <select name="type-selectTest" id="type-selectTest"> <option value="0">-全部- </option> <option value="1">买入 </option> <option value="2">卖出 </option>
										 </select> -->
										 <select name="type-selectTest" id="type-selectTest">
												<option value="0"
													<eq name="type" value="0">selected</eq>>--{:L('all')}--
												</option>
												<option value="1"
													<eq name="type" value="1">selected</eq>>{:L('finance_entrust_buy')}
												</option>
												<option value="2"
													<eq name="type" value="2">selected</eq>>{:L('finance_entrust_sell')}
												</option>
											</select>
									 </th>
									 <th>{:L('finance_deal_price')}</th>
									 <th>{:L('finance_deal_amount')}</th>
									 <th>{:L('finance_deal_total')}</th>
									 <th>{:L('finance_deal_fee')}</th> 
						             
						            </tr> 
						           </thead> 
						           <tbody>
										<volist name="list" id="vo">
                                                <tr>
                                                    <td>{$coin_list[$market_list[$vo['market']]['xnb']]['title']} ({$market_list[$vo['market']]['xnb']|strtoupper}/{$market_list[$vo['market']]['rmb']|strtoupper})</td>
                                                    <td>{$vo.addtime|date='m-d H:i:s',###}</td>
                                                    <td><eq name="vo['userid']" value="$vo['peerid']"> <font class="buy">{:L('finance_oneself_buy')}</font><font class="sell">{:L('finance_oneself_sell')}</font> <else /> <if condition="($vo['userid'] eq $userid) AND ($vo['type'] eq 1)"> <font class="buy">{:L('finance_entrust_buy')}</font> </if> <if condition="($vo['userid'] eq $userid) AND ($vo['type'] eq 2)"> <font class="buy">{:L('finance_entrust_buy')}</font> </if> <if condition="($vo['peerid'] eq $userid) AND ($vo['type'] eq 1)"> <font class="sell">{:L('finance_entrust_sell')}</font> </if> <if condition="($vo['peerid'] eq $userid) AND ($vo['type'] eq 2)"> <font class="sell">{:L('finance_entrust_sell')}</font> </if> </eq></td>
                                                    <td>{$vo['price']|NumToStr}</td>
                                                    <td>{$vo['num']|NumToStr}</td>
                                                    <td>{$vo['mum']|NumToStr}</td>
                                                    <td><if condition="($vo['userid'] eq $userid)"> {$vo['fee_buy']} <else /> {$vo['fee_sell']} </if></td>
                                                </tr>
                                            </volist>
						           </tbody> 
						          </table> 
						          <div class="pages">{$page}</div> 
						         </div> 
						        </div> 
						       </div> 
						      </div> 
						   </div>  
					      
					      <!--转入记录--> 
					      
					 </div> 
				     
				     
				     
				    </div> 
				</div>
				<div class="clearfix"></div>
		</section>
		

		


		<include file="Public:footer" />

		

	<!-- include jQuery -->
	<script src="__PUBLIC__/Home3/js/admin/jquery.min.js"></script>
	<!-- bootstrap -->
	<script src="__PUBLIC__/Home3/js/bootstrap.min.js"></script>
	<!-- plugins.js -->
	<script src="__PUBLIC__/Home3/js/plugins.js"></script>
	<!-- all parallax -->
	<script src="__PUBLIC__/Home3/js/parlx.js"></script>
	<!-- nice-select -->
	
	<!-- chart js -->
	<script src="__PUBLIC__/Home3/js/raphael-min.js"></script>
	<script src="__PUBLIC__/Home3/js/morris.min.js"></script>
	 <!-- dscountdown -->
	<script src="__PUBLIC__/Home3/js/dscountdown.min.js"></script>
	<!-- custom js -->
	<script src="__PUBLIC__/Home3/js/custom.js"></script>
	<script src="__PUBLIC__/Home3/js/sidebar-menu.js"></script>
	<script>
		$.sidebarMenu($('.sidebar-menu'))
	</script>
</body>
</html>