<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{:C('web_title')}</title>
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/style1.css">
	<!-- Favicon -->
	<link rel="shortcut icon" href="__PUBLIC__/Home3/images/fav.png" type="image/x-icon">
	<link rel="icon" href="__PUBLIC__/Home3/images/fav.png" type="image/x-icon">
	<!-- font-awesome -->
	<link href="__PUBLIC__/Home3/css/font-awesome.css" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/bootstrap.min.css">
	<!-- main stylesheet -->
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/style.css">
	<!-- responsive css -->
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/responsive.css">
	<!-- color css -->
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/colors2.css">
	
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/admin/style.css">
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/admin/sidebar-menu.css">
	<link rel="stylesheet" href="__PUBLIC__/Home3/css/login.css">

	

	
</head>
<body>
	<!-- <div class="loader_wrapper">
        <div class="loader">
        	<div id="loader">
        		<img src="__PUBLIC__/Home3/images/loader.png" alt="loader" class="flipInY">
        	</div>
		</div>
    </div> -->
	<div id="wrapper">
		<header class="header home2">
			<div class="topnav">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="list-unstyled align-left">
								<li><a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i> {:L('index_welcome')}</a></li>
							</ul>
						    <gt name="Think.session.userId" value="0">
									<ul class="list-unstyled align-right">
									<li><a href="{:U('Finance/index')}" >{$Think.session.userName}</a></li>
									<li><a href="####" >ID：<span style="color:red;">{$Think.session.userId}</span></a></li>
									<li><a href="{:U('Login/loginout')}" style="color:red;">{:L('logout')}</a></li>
									<li ><span class="orange-lang"> <a href="?lang=zh">中文版</a> | <a href="?lang=en">English</a>  </span></li>
								    </ul>
								<!-- <dl class="mywallet">
									<dt id="user-finance">
										<div class="mywallet_name clear">
											<a href="/finance/">{$Think.session.userName}</a><i></i>
										</div>
									</dt>
									<dd>ID：<span>{$Think.session.userId}</span></dd>
									<dd>
										<a href="{:U('Login/loginout')}">{:L('logout')}</a>
									</dd>
									<span class="orange-lang"> <a href="?lang=zh">中文版</a> | <a href="?lang=en">English</a>  </span>
								</dl> -->
							<else/>
							<ul class="list-unstyled align-right">
								<li><a href="{:U('Login/index')}"><i class="fa fa-key"></i><span style="color:red;"> {:L('login')}</span></a></li>
								<li><a href="{:U('Login/register')}"><i class="fa fa-lock"></i> <span style="color:red;"> {:L('register')}</span></a></li>
								<li><span class="orange-lang"> <a href="?lang=zh">中文版</a> | <a href="?lang=en">English</a>  </span></li>
							</ul>
							</gt>
						</div>
					</div>
				</div>
			</div>
			<div class="main-nav">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 wow slideInDown" data-wow-delay="0.6s">
							<div class="logo">
								<a href="/"><img src="__PUBLIC__/Home3/images/logo.png" alt="logo"></a>
							</div>
							<a href="javascript:;" class="nav-opener"><i class="fa fa-bars"></i></a>
							<nav class="nav1">
								<ul class="list-unstyled">
									<li><a href="/">{:L('home')}</a></li>
									<li><a href="{:U('Trade/index')}">{:L('trade')}</a></li>
									<li><a href="{:U('Finance/index')}">{:L('finance')}</a></li>
									<li><a href="{:U('User/index')}">{:L('security')}</a></li>
									<li><a href="{:U('Article/index')}">{:L('help')}</a></li>
								</ul>
                            </nav>
							<!-- nav-login -->
						</div>
					</div>
				</div>
			</div>
		</header>