<include file="Public:header" />
		
		<section class="box-content">
			
			    <style>
			            
			    </style>
			    <div class="main-content clearfix">
				    <div class="now"> 
					    <i class="fa fa-home fa-lg move mr5"></i>
						<a href="/" class="movesay">{:L('home')}</a> &gt; 
					    <a href="{:U('User/index')}" class="movesay">{:L('security')} </a> &gt;{:L('user_bound_alipay')} 
				    </div>
				     
                    <include file="User:header_left" />  
				    <div class="tag-list-content assets_content bg_w"> 
				     <div class="safe_center clear"> 
				      	<h1> <span> {:L('user_bound_alipay')} </span> <span> <a class="right" onclick="$('#hints').slideToggle();"> <i class="fa fa-hand-o-right move fz_14 mr5"></i> <span class="fz_12 move">帮助</span> </a> </span> </h1> 
				     </div> 
				     
				     <div class="step1 pwtrade" style="display: block;">
	                    <dl>
	                        <dt></dt>
	                        <dd class="band_succ move">
	                            <i class="fa fa-check mr5"></i>{:L('user_alipay_update')} </dd>
	                    </dl>
	                    <dl>
	                        <dt>{:L('user_alipay_account')}：</dt>
	                        <dd>
									<input type="hidden" name="smsid" value="3" id="smsid">
	                            <input type="text" tabindex="2" id="alipay" class="texts">
	                        </dd>
	                    </dl>
	                    <dl>
	                        <dt>{:L('trade_password')}：</dt>
	                        <dd>
	                            <input type="password" tabindex="3" id="paypassword" class="texts">
	                        </dd>
	                    </dl>
	                    <dl>
	                        <dt></dt>
	                        <dd>
	                            <input type="button" tabindex="4" class="btns2" value="{:L('user_bound_alipay')}" onclick="Update()">
	                        </dd>
	                    </dl>

	                </div>
				    
					      
					    
				     
				     
				     
				    </div> 
				</div>
				<div class="clearfix"></div>
		</section>
		

		


		



		<include file="Public:footer" />
		
	<!-- include jQuery -->
	<script src="__PUBLIC__/Home3/js/admin/jquery.min.js"></script>
	<!-- bootstrap -->
	<script src="__PUBLIC__/Home3/js/bootstrap.min.js"></script>
	<!-- plugins.js -->
	<script src="__PUBLIC__/Home3/js/plugins.js"></script>
	<!-- all parallax -->
	<script src="__PUBLIC__/Home3/js/parlx.js"></script>
	<!-- nice-select -->
	
	<!-- chart js -->
	<script src="__PUBLIC__/Home3/js/raphael-min.js"></script>
	<script src="__PUBLIC__/Home3/js/morris.min.js"></script>
	 <!-- dscountdown -->
	<script src="__PUBLIC__/Home3/js/dscountdown.min.js"></script>
	<!-- custom js -->
	<script src="__PUBLIC__/Home3/js/custom.js"></script>
	<script src="__PUBLIC__/Home3/js/sidebar-menu.js"></script>
	<script src="__PUBLIC__/layer/layer.js"></script>	
	
	<script>
		$.sidebarMenu($('.sidebar-menu'))
	</script>
	<script>
		  function Update() {
            var alipay = $("#alipay").val();
            var paypassword = $("#paypassword").val();


            if (alipay == "" || alipay == null) {
                layer.tips('{:L('user_enter_alipay_account')}', '#alipay', {tips: 3});
            return false;
        }

        if (paypassword == "" || paypassword == null) {
            layer.tips('{:L('enter_trade_password')}', '#paypassword', {tips: 3});
        return false;
        }
        $.post("{:U('User/upalipay')}", {
            alipay: alipay,
            paypassword: paypassword
        }, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon: 1});
                window.location = "{:U('User/alipay')}";
            } else {
                layer.msg(data.info, {icon: 2});
                if (data.url) {
                    window.location = data.url;
                }
            }
        }, "json");
        }
    </script>
</body>
</html>