<include file="Public:header" />

		
		<section class="box-content">
			
			    <style>
			            
			    </style>
			    <div class="main-content clearfix">
				    <div class="now"> 
					    <i class="fa fa-home fa-lg move mr5"></i>
					    <a href="/" class="movesay">{:L('home')}</a> &gt; 
					    <a href="{:U('User/index')}" class="movesay">{:L('security')} </a> &gt; {:L('user_bank_card_management')}
				    </div>
				     
                    <include file="User:header_left" /> 
				    <div class="tag-list-content assets_content bg_w"> 
				     <div class="safe_center clear"> 
				      	<h1> <span> {:L('user_bank_card_management')} </span> <span> <a class="right" onclick="$('#hints').slideToggle();"> <i class="fa fa-hand-o-right move fz_14 mr5"></i> <span class="fz_12 move">帮助</span> </a> </span> </h1> 
				     </div> 
				     
				     
				     <div class="f_body">
	                    <div class="f_body_main">
	                        <div class="f_tab_body">
	                            <div>
	                                <table class="f_table" id="investLog_content">
	                                    <thead>
	                                        <tr>
													<th>{:L('user_note_name')}</th>
													<th>{:L('user_open_bank')}</th>
													<th>{:L('user_open_province')}</th>
													<th>{:L('user_open_city')}</th>
													<th>{:L('user_open_branch')}</th>
													<th>{:L('user_open_name')}</th>
													<th>{:L('user_bank_number')}</th>
													<th>{:L('user_addtime')}</th>
													<th>{:L('operate')}</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
												<volist name="UserBank" id="vo">
														<tr>
															<td>{$vo.name}</td>
															<td>{$vo.bank}</td>
															<td>{$vo.bankprov}</td>
															<td>{$vo.bankcity}</td>
															<td>{$vo.bankaddr}</td>
															<td>{$truename}</td>
															<td>{$vo.bankcard}</td>
															<td>{$vo.addtime|addtime}</td>
															<td><a class="cancel" href="javascript:void(0)" onclick="UpdateB({$vo['id']})">{:L('delete')}</a></td>
														</tr>
													</volist>
										</tbody>
	                                </table>
	                                <div class="pages">

	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                 </div>
	                 <div id="demo1" onclick="showA()" style="width:150px; border:1px solid orange; padding:5px 10px; border-radius:5px; color:orange; margin:0 auto; text-align: center;">  {:L('user_add_address')}</div>
				     
				     
				     
				    </div> 
				</div>
				<div class="clearfix"></div>
		</section>
		
		<div id="withdrawCnyAddress" style="background:rgba(0,0,0,0.5); width:100%; height:100%; position:fixed; float:left; z-index:1000; top:0; left:0; display:none;">
				<div style="padding: 10px 40px 40px; background:#fff; border-radius:5px; max-width:520px; margin:10% auto; position: relative;">
					<div class="close2" onclick="closeAddress()" style=" position: absolute;right: 20px;font-size: 20px; cursor:  pointer;">X</div>
					<h2 style="text-align:center;padding: 20px 0">{:L('user_add_address')}</h2>
					<div class="form-group form-material floating">
						<input type="text" class="form-control empty" name="bank_name" id="bank_name" data-fv-notempty="true" data-fv-message="请输入用户名或邮箱或手机号码" data-fv-field="username" placeholder="备注名称" style="height:40px !important">
					</div>
					<div class="form-group form-material floating">
						<select name="bank" id="bank_bank" style="width: 110px;">
							<option value="0">--{:L('user_select_bank')}--</option>
							<volist name="UserBankType" id="vo">
								<option value="{$vo['title']}">{$vo['title']}</option>
							</volist>
						</select>
					</div>
					<div class="form-group form-material floating">
						<span class="controls" id="city_1">
							<select class="prov" id="bank_bankprov" name="prov" style="width: 110px;"></select>
							<select class="city" id="bank_bankcity" name="city" style="width: 110px; display: none;"></select>
						</span>
					</div>
					<div class="form-group form-material floating">
						<input type="text" id="bank_bankaddr" class="form-control empty" name="username" data-fv-notempty="true" data-fv-message="" data-fv-field="username" placeholder="开户支行" style="height:40px !important">
					</div>
					<div class="form-group form-material floating">
						<input type="text" class="form-control empty" value="{$truename}" name="username" data-fv-notempty="true" data-fv-message="" data-fv-field="username" placeholder="真实姓名" style="height:40px !important">
					</div>
					<div class="form-group form-material floating">
						<input type="text" class="form-control empty" id="bank_bankcard" name="username" data-fv-notempty="true" data-fv-message="" data-fv-field="username" placeholder="银行卡号" style="height:40px !important">
					</div>
					<div class="form-group form-material floating">
						<input type="text" class="form-control empty" id="bank_paypassword" name="username" data-fv-notempty="true" data-fv-message="" data-fv-field="username" placeholder="交易密码" style="height:40px !important">
					</div>
					<div id="demo3" style="background:rgb(7, 105, 224); padding:5px 10px; border-radius:5px; color:#fff; text-align:center;" onclick="Update()">{:L('user_add_now')}</div>
				</div>
			</div>

<div id="dialogBoxShadow" style="position: absolute; top: 0px; left: 0px; z-index: 100; background-color: rgb(0, 0, 0); opacity: 0.4; width: 100%; background-position: initial initial; background-repeat: initial initial; display: none;"></div>
<br>
<br>



		

		


		
<include file="Public:footer" />
	<!-- include jQuery -->
	<script src="__PUBLIC__/Home3/js/admin/jquery.min.js"></script>
	<!-- bootstrap -->
	<script src="__PUBLIC__/Home3/js/bootstrap.min.js"></script>
	<!-- plugins.js -->
	<script src="__PUBLIC__/Home3/js/plugins.js"></script>
	<!-- all parallax -->
	<script src="__PUBLIC__/Home3/js/parlx.js"></script>
	<!-- nice-select -->
	
	<!-- chart js -->
	<script src="__PUBLIC__/Home3/js/raphael-min.js"></script>
	<script src="__PUBLIC__/Home3/js/morris.min.js"></script>
	 <!-- dscountdown -->
	<script src="__PUBLIC__/Home3/js/dscountdown.min.js"></script>
	<!-- custom js -->
	<script src="__PUBLIC__/Home3/js/custom.js"></script>
	<script src="__PUBLIC__/Home3/js/sidebar-menu.js"></script>
	<script src="__PUBLIC__/layer/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home1/Scripts/cityselect.js"></script>
	

<script>

		//$("#city_1").citySelect({nodata:"none",required:false});
	
		$('#dialogBoxShadow').height($(document).height());
		function closeAddress(){
			$("#withdrawCnyAddress").hide();
			$("#dialogBoxShadow").hide();
		}
		function showA(){
			$("#withdrawCnyAddress").show();
			$("#dialogBoxShadow").show();
		}
	
		function Update(){
			//layer.msg('eeeeeeeee',{icon:2});return false;
			var name=$('#bank_name').val();
			var bank=$('#bank_bank option:selected').val();
			var bankprov=$('#bank_bankprov option:selected').val();
			var bankcity=$('#bank_bankcity option:selected').val();
			var bankaddr=$('#bank_bankaddr').val();
			var bankcard=$('#bank_bankcard').val();
			var paypassword=$('#bank_paypassword').val();
			if(name==""||name==null || name=="备注名称"){
				layer.tips('请输入备注名称','#bank_name',{tips:3});
			return false;
		}
		if(bank==""||bank==null || bank==0){
				layer.tips('请选择银行','#bank_bank',{tips:3});
			return false;
		}
		if(bankprov==""||bankprov==null || bankprov==0){
				layer.tips('请选择地区','#bank_bankprov',{tips:3});
			return false;
		}
		if(bankcity==""||bankcity==null || bankcity==0){
				layer.tips('请选择地区','#bank_bankcity',{tips:3});
			return false;
		}
		if(bankaddr==""||bankaddr==null || bankaddr=="开户支行"){
			layer.tips('请输入开户支行','#bank_bankaddr',{tips:3});
		return false;
		}
		if(bankcard==""||bankcard==null || bankcard =="银行卡号"){
			layer.tips('请输入银行账号','#bank_bankcard',{tips:3});
		return false;
		}
		if(paypassword==""||paypassword==null || paypassword=="交易密码"){
			layer.tips('请输入交易密码','#bank_paypassword',{tips:3});
		return false;
		}
	
		
		$.post("/User/upbank.html",{type:1,name:name,bank:bank,bankprov:bankprov,bankcity:bankcity,bankaddr:bankaddr,bankcard:bankcard,paypassword:paypassword},function(data){
		 console.log('datta>>>>>',data);
			if(data.status==1){
				layer.msg(data.info,{icon:1});
				window.location="/User/bank.html";
			}else{
				layer.msg(data.info,{icon:2});
				if(data.url){
					window.location=data.url;
				}
			}
		},"json");
		}
	
		function UpdateB(id){
			layer.config({
				extend: 'extend/layer.ext.js'
			});
			layer.ready(function () {
				//默认prompt
				layer.prompt({
					title: '输入交易密码，并确认',
					formType: 1,btn: ['确定','取消']},function(val){
						if (val) {
							//需要执行的方法
							$.post("/User/delbank.html",{type:2,id:id,paypassword:val},function(data){
								if(data.status==1){
									layer.msg(data.info,{icon:1},1000);
									window.location="/User/bank.html";
								}else{
									layer.msg(data.info,{icon:2});
									if(data.url){
										window.location=data.url;
									}
								}
							},"json");
	
	
						};
					});
	
		});
	
	
		}
	
	</script>

<script>
		$.sidebarMenu($('.sidebar-menu'))
	</script>
	
			
	
</body>
</html>