<include file="Public:header" />
		
		<section class="box-content">
			
			    <style>
			            
			    </style>
			    <div class="main-content clearfix">
				    <div class="now"> 
					    <i class="fa fa-home fa-lg move mr5"></i>
					    <a href="/" class="movesay">{:L('home')}</a> &gt; 
					    <a href="{:U('User/index')}" class="movesay">{:L('security')} </a> &gt; {:L('user_modify_login_password')}
				    </div>
				     
                    <include file="User:header_left" />  

				    <div class="tag-list-content assets_content bg_w"> 
				     <div class="safe_center clear"> 
				      	<h1> <span> {:L('user_modify_login_password')} </span> <span> <a class="right" onclick="$('#hints').slideToggle();"> <i class="fa fa-hand-o-right move fz_14 mr5"></i> <span class="fz_12 move">帮助</span> </a> </span> </h1> 
				     </div> 
				     
				     <div class="step1 pwtrade mt40" style="display: block;">
	                    <dl>
	                        <dt>{:L('login_password')}</dt>
	                        <dd>
	                            <input type="password" tabindex="2" id="oldpassword" name="oldpassword" class="texts">
	                        </dd>
	                    </dl>
	                    <dl>
	                        <dt>{:L('new_login_password')}：</dt>
	                        <dd>
	                            <input type="password" tabindex="2" id="newpassword" name="newpassword" class="texts">
	                        </dd>
	                    </dl>
	                    <dl>
	                        <dt>{:L('user_enter_new_password_again')}：</dt>
	                        <dd>
	                            <input type="password" tabindex="3" id="repassword" name="repassword" class="texts">
	                        </dd>
	                    </dl>
	                    <dl>
	                        <dt></dt>
	                        <dd>
	                            <input type="button" tabindex="4" class="btns2" value="{:L('save')}" onclick="Update()">
	                        </dd>
	                    </dl>

	                </div>
				    
					      
					    
				     
				     
				     
				    </div> 
				</div>
				<div class="clearfix"></div>
		</section>
		

		


		

		


		
		<include file="Public:footer" />
	<!-- include jQuery -->
	<script src="__PUBLIC__/Home3/js/admin/jquery.min.js"></script>
	<!-- bootstrap -->
	<script src="__PUBLIC__/Home3/js/bootstrap.min.js"></script>
	<!-- plugins.js -->
	<script src="__PUBLIC__/Home3/js/plugins.js"></script>
	<!-- all parallax -->
	<script src="__PUBLIC__/Home3/js/parlx.js"></script>
	<!-- nice-select -->
	
	<!-- chart js -->
	<script src="__PUBLIC__/Home3/js/raphael-min.js"></script>
	<script src="__PUBLIC__/Home3/js/morris.min.js"></script>
	 <!-- dscountdown -->
	<script src="__PUBLIC__/Home3/js/dscountdown.min.js"></script>
	<!-- custom js -->
	<script src="__PUBLIC__/Home3/js/custom.js"></script>
	<script src="__PUBLIC__/Home3/js/sidebar-menu.js"></script>
	<script src="__PUBLIC__/layer/layer.js"></script>
	<script>
		$.sidebarMenu($('.sidebar-menu'))
	</script>
	<script> 
	function Update() {
			$.post("{:U('User/uppassword')}", {
				oldpassword: $('#oldpassword').val(),
				newpassword: $('#newpassword').val(),
				repassword: $('#repassword').val()
			}, function (data) {
				if (data.status == 1) {
					layer.msg(data.info, { icon: 1 });
					window.location = "{:U('User/password')}";
				} else {
					layer.msg(data.info, { icon: 2 });
					if (data.url) {
						window.location = data.url;
					}
				}
			}, "json");
		}
		</script>
</body>
</html>