<include file="Public:header" />
<div class="content clearfix">

    <!--左侧菜单-->
    <include file="User:left" />
    <script type="text/javascript">
        $(document).ready(function () {
            // Store variables
            var accordion_head = $('.accordion > li > a'),
                accordion_body = $('.accordion li > .sub-menu');
            // Open the first tab on load
            //accordion_head.first().addClass('active').next().slideDown('normal');
            //accordion_body.eq(2).find('a').eq(2).css('background', ' #efefef');
            var found = false;
            for (i = 0; i < accordion_body.length; i++) {
                item = accordion_body.eq(i).find("[data-id='']");
                if (item.length > 0) {
                    accordion_head.eq(i).addClass('active').next().slideDown('normal');
                    item.css({ 'color': ' #ff5e23', 'border-right-width': '3px', 'border-right-color': '#ff5e23' });
                    found = true;
                    break;
                }
            }
            if (found == false)
                accordion_head.eq(0).addClass('active').next().slideDown('normal');
            // Click function
            accordion_head.on('click', function (event) {
                // Disable header links
                event.preventDefault();
                // Show and hide the tabs on click
                if ($(this).attr('class') != 'active') {
                    accordion_body.slideUp('normal');
                    $(this).next().stop(true, true).slideToggle('normal');
                    accordion_head.removeClass('active');
                    $(this).addClass('active');
                }
            });

            var icoType = '';
            if (icoType == '') {
                $("#buyIco").parent("li").remove()
            }

            $("input").focus(function () {
                $(".failed").html("")
            });

            $(".files,.cloud,.mail").find("li").click(function () {
                $.cookie('nav_index', 2, { path: '/' });
            });
            $(".sign").find("li").click(function () {
                $.cookie('nav_index', 3, { path: '/' });
            });
        });
    </script>
    <!--右侧内容-->
    <div class="main_content acc-m-con">
        <div class="right_mcontent">
            <div class="safe_center clear" style="padding-left: 0px; border-bottom: 2px solid #E55600;">
                <h1 style="margin-top: 0px; margin-bottom: 15px; line-height: 15px;">{:L('user_modify_login_password')}</h1>
            </div>
            <div class="sj" style="top: 40px; left: 60px;"></div>
            <br>
            <div class="sectioncont">   
                <table id="withdrawtable">
                    <tbody>
                        <tr>
                            <td align="right">登录密码：</td>
                            <td><input type="password" name="oldpassword" id="oldpassword" size="20"></td>
                        </tr>
                        <tr>
                            <td align="right">{:L('new_login_password')}：</td>
                            <td>
                                <input type="password" value="" size="10" name="newpassword" id="newpassword">

                            </td>
                        </tr>
                        <tr>
                            <td align="right">{:L('user_enter_new_password_again')}：</td>
                            <td><input type="password" name="repassword" id="repassword" size="20"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="button" name="submit" value="{:L('save')}" onclick="Update()" class="sub-btn"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div><br><br>
<script>
    $('input').focus(function () {
        var t = $(this);
        if (t.attr('type') == 'text' || t.attr('type') == 'password')
            t.css({ 'box-shadow': '0px 0px 3px #1583fb', 'border': '1px solid #1583fb', 'color': '#333' });
        if (t.val() == t.attr('placeholder'))
            t.val('');
    });
    $('input').blur(function () {
        var t = $(this);
        if (t.attr('type') == 'text' || t.attr('type') == 'password')
            t.css({ 'box-shadow': 'none', 'border': '1px solid #e1e1e1', 'color': '#333' });
        if (t.attr('type') != 'password' && !t.val())
            t.val(t.attr('placeholder'));
    });
    function Update() {
        $.post("{:U('User/uppassword')}", {
            oldpassword: $('#oldpassword').val(),
            newpassword: $('#newpassword').val(),
            repassword: $('#repassword').val()
        }, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, { icon: 1 });
                window.location = "{:U('User/password')}";
            } else {
                layer.msg(data.info, { icon: 2 });
                if (data.url) {
                    window.location = data.url;
                }
            }
        }, "json");
    }
</script>
<script>

    $('#user_box').addClass('active');
    $('#user_password').addClass('active');
    $('#user_password i').attr('class', 'coin_menu_op_9');
</script>
<include file="Public:footer" />