<include file="Public:header" />
<div id="main-content">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">警告内容</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
   <span class="h1-title">集市记录</span>
  </div>
  <div class="cf">
    <div class="fl">
        <a class="btn  btn-success" href="{:U('bazaar/log')}">委托记录</a>
        <a class="btn  btn-info" href="{:U('bazaar/log_buy')}">购买记录</a>
    </div>
  </div>
  <div class="data-table table-striped">
   <table class="">
    <thead>
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">购买用户名</th>
      <th class="">购买委托ID</th>
      <th class="">购买币种</th>
      <th class="">购买单价</th>
      <th class="">购买数量</th>
      <th class="">购买总金额</th>
      <th class="">佣金(%)</th>
      <th class="">购买时间</th>
      <th class="">状态</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
     <tr>
      <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
      <td>{$vo.id}</td>
      <td>{$vo['username']}</td>
      <td>{$vo.peerid}</td>
      <td>{$vo['coin']['title']}({$vo['coin']['name']})</td>
      <td>{$vo.price}</td>
      <td>{$vo.num}</td>
      <td>{$vo['mum']}</td>
      
      <td>{$vo['fee']}</td>
      <td>{$vo.addtime}</td>
      <td><eq name="vo.status" value="1">完成</eq><eq name='vo.status' value="0">挂单中</eq><eq name='vo.status' value="2">已取消</eq></td>
     </tr>
     </volist> <else />
     <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<include file="Public:footer" />
<block name="script">
 <script type="text/javascript" charset="utf-8">
  //导航高亮
  highlight_subnav("{:U('bazaar/log')}");
 </script>
</block>